@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

:root{
    --main: #FFBE51;
    --text: #757575;
}

html{
    width: 100vw;
    max-width: 100%
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    color: #fff;
    font-size: 18px;
}

header {
    height: 110px;
    background: var(--main);
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

header .container .links ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;

}

header .container .links ul li {
    margin-left: 50px;
}

header .container .links ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;

}

header .container .links ul li a:hover {
    text-decoration: underline;
}
/* HOME */
 section .container {
    height: calc(100vh - 110px);
    display: flex;
    flex-wrap: wrap;

}

.texto-principal .container, 
.texto-secundario .container, 
section.contato, .login {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}


.texto-principal h2 {
    width: 40%;
    text-transform: uppercase;
    font-size: 36px;   
    color: var(--text); 
}

section.servicos {
    background-color: #E5E5E5;
    color: var(--text);
    margin:0;
    padding:0 0 5em;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    flex-wrap: wrap;
}

.servicos-titulo{
    text-align: center;
}

.servicos-titulo h3 {
    font-weight: 400;
    color: #000;
    font-size:40px;
    text-transform: uppercase;
    margin: 60px 0;
}

section.servicos .servicos-cards{
    display:flex;
    justify-content:space-around;
}

.servicos-cards .cards-wrapper{
    display:flex;
    flex-direction: column;
    color: #000;   
}

.servicos-cards .card-img {
    background-color: #fff;
    width:266px;
    height:264px;
    margin-bottom: 5px;
}

.servicos-cards .card-price{
    font-weight: 400;
}

.texto-secundario .container {
    color: #757575;
    height: 100vh;

}

.texto-secundario .container .texto-wrapper {
    width: 35%;
}

.texto-wrapper h2{
   font-weight: 700;
   margin-bottom: 30px;
}

.texto-wrapper p {
    font-weight: 400;
}

/* Serviços */
h2{
    color: var(--main);
    text-transform: uppercase;
    margin: 5rem 0;
    font-size: 40px;
}

h2.servicos-titulo {
    text-align: center;
}

article.servicos .container {
    color: #000;
    margin: 0 auto;
}

.servicos-wrapper {
    display:flex;
    justify-content: center;
    margin: 7rem 0;
}

.servicos-wrapper .servicos-texto {
    width:33%;
    margin-left: 100px;
}

.price-title {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.price-title h3 {
    color: #000;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 34px;
}

.price-title p {
    font-size: 34px;
    font-weight: 400;
}

.servicos-texto .servicos-description{
    color: var(--text);
    font-weight: 400;
    margin-top: 20px;
}

button {
    background-color: var(--main);
    width: 245px;
    height: 32px;
    border: none;
    margin-top: 15px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    font-weight: 700;    
}

.servicos-wrapper .servicos-img {
    width: 266px;
    height: 264px;
    background: #B1B1B1;
}

.servicos hr {
    width: 1134px;
    height: 5px;
    margin: 0 auto;
    background: #C4C4C4; 
    border: none
}


/* Contato */ 
section.contato, .login{
    flex-direction: row;
    height: calc(100vh - 170px);
}

.contato h2{
    margin-top:0;
    margin-bottom: 2rem;
}

.contato-form {
    width:40%;
}

form {
    display: flex;
    flex-direction: column;;
    width: 80%;
    flex-wrap: wrap;

}

.contato form button {
    width: 100%;
}

form input {
    margin-bottom: 10px;
    height: 24px;
    padding: 3px 4px;
}

form textarea {
    font-family: 'Nunito', sans-serif;
}

.contato-mapa{
    font-size: 16px;
}

footer.footer-contato {
    background: #C4C4C4;
    height: 60px;
}

.footer-contato p {
    text-align: center;
    color: #000;
    font-weight: 400;
    line-height: 60px;
}

/* Login */
.login-box{
    width: 411px;
    height: 423px;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.25);
}

.login-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 411px;
    flex-wrap: wrap;

}

.login-box h2 {
    text-align: center;
    margin: 0 0 25px 0;
}

.login img {
    width: 27em;
}

.login-box form{
    width: 60%
}

.login-box .cadastro {
    text-align: center;
    margin-top: 15px;
}

.cadastro a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

/* Footer */
footer {
    height:300px;
    background-color: var(--main);
}
footer .container, footer .footer-wrapper{
    font-size: 18px;
    max-height: 300px;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

footer .footer-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    height: 300px;
    width: 45%;
}


.logo-footer {
    background-image: url('./img/logo-footer.png');
    background-repeat: no-repeat;
    height:240px;
    width:240px;
}

.footer-wrapper a, .footer-wrapper address{
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 15px;
}

.footer-wrapper a:hover{
    color:#757575
}

@media (max-width: 640px){
    
    header {
        height:150px;
    }


    header h1 img {
        height: 80px;
        width: auto;
    }

    header .container .links ul {
        justify-content: space-evenly;
        width: 100vw;
    }

    header .container .links ul li{
        padding: 0;
        margin: 0;
        font-size: 20px;
        text-align: center;
    }

    section.texto-principal h2, .texto-secundario h2, .servicos-texto h3, .servicos-texto .price{
        font-size: 24px;
    }

    header .container, .texto-principal .container, .servicos-wrapper, .servicos-cards, .texto-secundario .container, .price-title{
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .servicos-cards{
        margin: 0 auto;
    }

    .cards-wrapper{
        padding-bottom: 45px;
    }

    .cards-wrapper .card-img {
        width: 300px;
    }


    .texto-principal .container{
        margin: 2.5em 0;
        height: 60vh;
    }


    .texto-principal .container h2{
        width:90%;
        margin: 30px 10px 0 10px;
        text-align: center;
        order: 1;
    }

    .texto-principal .container img {
        margin-bottom: 0;
    }

    .servicos-titulo h2 {
        margin: 0;
        padding: 0;
    }

    .texto-secundario .container .texto-wrapper {
        width: 85%;
        font-size: 18px;
    }

    .servicos-description, .servicos-wrapper .servicos-texto, .img-wrapper{
        margin: 0 auto;
    }

    .servicos-wrapper .servicos-texto, .img-wrapper{
        width: 85%;
    }

    .servicos-titulo{
        margin-top: 55px;
        margin-bottom: 0;
        padding: 0;
    }

    .servicos-wrapper {
        margin: 3em auto;
    }

    button{
        width: 100%;
        margin: 25px auto 0;
    }

    .servicos-description {
        font-size: 18px;
    }

    .price-title {
        align-items: flex-start;
    }

    .servicos hr {
        width: 150px;
    }

    section.contato, .login {
        flex-direction: column;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .contato-titulo{
        text-align: center;
    }

    .contato h2{
        margin-top: 55px;
    }


    .contato-mapa, .contato-form {
        width: 100%;
        margin: 0;
    }

    .contato-mapa iframe{
        display: block;
        height: 200px;
        width: auto;
        margin: 10px auto;
    }

    .contato-form form {
        margin: 0 auto;
    }

    .contato-mapa{
        width: 80%;
        margin: 30px 0;
        text-align: center;

    }

    .ilustra-login, .ilustra-cadastro {
        display: none;
    }

    section.login{
        height: 100vh;
    }

    .login-box{
        box-shadow: none;
    }

    img {
        width: 60%;
    }

    footer .footer-wrapper{
        font-size: 16px;
    }

    .logo-footer, iframe {
        display: none;
    }
}